moz-sql-parser
sqlparse
klepto
psycopg2-binary
numpy
pandas
torch
torchvision
networkx
matplotlib
seaborn
sklearn
toml
pyzmq
psutil
wget
xgboost
sqlalchemy
pytest
progressbar2
nltk
pygtrie
jax
jaxlib
nltk
pygtrie
cvxpy
pomegranate

